[2019-03-15 14:32] rcopenhagen opened #10 "Update "Falco Updates" Subscription Form on Falco.org"
The existing form on falco.org for subscribing to Falco project updates pushes to a deprecated Pardot instance hosted by Sysdig.

This issue is logged to update the form such that it instead points to a Marketo instance hosted by Sysdig. Subscribers will be ringfenced from other promotions unless they explicitly opt in.

[code]

[2019-06-07 00:41] fntlnz opened #26 "Create the security page"
We need a page on `https://falco.org/security` to let people disclose security issues privately.

The page is already linked in the upcoming change to issues and pr templates here: https://github.com/falcosecurity/falco/pull/644

Similar page for inspiration: https://kubernetes.io/docs/reference/issues-security/security/

[2019-06-18 14:13] fntlnz opened #27 "Improve build from source documentation"

[2019-06-19 08:42] fntlnz opened #30 "Right sections sub menu indentation"
While working on the build documentation, we noticed that the right menu doesn't respect indentation for sub-sections, this creates confusion on the user while trying to figure out what's the hierarchy of the sections.

Here's how the menu looks like now, highlighted in yellow:

<img width="1637" alt="image" src="https://user-images.githubusercontent.com/3083633/59749870-1d806880-927e-11e9-8e64-77

[2019-06-21 14:22] fntlnz opened #34 "BPF probe build details in build from source page"
Specify that to build the bpf probe one need to compile the target using clang instead of gcc (at least for now that most gcc installation do not support the bpf backend)

Page: content/source.md

[2019-06-21 14:23] leodido opened #35 "Specify that falco can be built specifying kernel headers"
As of draios/sysdig#1443 - falco can be built with custom kernel headers location by specifying the path where they resides.

Page: content/source.md

[2019-06-21 14:51] leodido opened #37 "Document COS option"
Because of issue https://github.com/falcosecurity/falco/issues/650 Falco (v0.15.3) introduced a fix for COS via the `KBUILD_EXTRA_CPPFLAGS` env variable and `-DCOS_73_WORKAROUND` option.

[2019-06-21 14:53] fntlnz opened #38 "GKE Installation page"
While working on https://github.com/falcosecurity/falco/issues/650 - @caquino shared the Terraform they used to deploy Falco on GKE.

What we want to do is to add a documentation page, specific for GKE and specify the installation methods for it, adding this terraform config as a viable option.

<details>
<summary>Here is the terraform definition from the issue.</summary>

[code]

</details>

[2019-06-22 02:21] fntlnz commented on #27
Done via #28

[2019-06-22 02:21] #27 closed

[2019-06-24 17:49] ariguillegp opened #39 "Build from source with Alpine Linux"
I think it would be useful to create another section on the documentation (similar to what you have right now) to address the Docker image creation process using Alpine Linux as the base OS. A lot of people like this approach because the image is very lightweight (~5MB) and reduces the attack surface a lot.

[2019-06-27 11:18] leodido opened #41 "Document how to build falco probe loader on linuxkit"
Document (into the installation docs) how to build falco probe loader with a docker container on linuxkit.

Ref https://github.com/falcosecurity/falco/issues/657#issuecomment-506303851

[2019-07-02 16:01] mfdii commented on #37
I don't think this needs to be documented as it's technically a bug and is fixed in the dev release (and thus the next release).

[2019-07-03 09:31] leodido opened #42 "Cheatsheet doc"
This issue intends to propose the creation of a cheatsheet-style doc for Falco, following from [this tweet](https://twitter.com/lucperkins/status/1146124804900003845) by @lucperkins.

I think that the target of the cheatsheet have to be the Falco rules (conditions, rules macros, common rules that the community most asks).

[2019-07-08 13:57] leodido opened #43 "Translate Falco docs into Simplified Chinese"
After the @Kaizhe's talk about Falco at KubeCon China we started to think there is a need to have Falco documentation translated to Simplified Chinese.

/kind translation

[2019-07-08 18:25] lucperkins commented on #43
@leodido Do you have any volunteers or know anyone who can help out? If there are people available to do the work I can make the necessary changes on the site.

[2019-07-08 18:40] leodido commented on #43
During the past week Office Hours @markyjackson-taulia said he probably knows someone can help us!

Marky did you have the opportunity to contact this person? :)

[2019-07-09 18:07] markyjackson-taulia commented on #43
Yes, I have someone joining during our next office hours. I will tag him in this issue once we introduce him during the meeting

[2019-07-12 14:34] markyjackson-taulia commented on #43
The person I spoke with couldn't join due to other commitments. He will join the next office hours.

[2019-07-12 14:46] leodido commented on #43
Okay. Waiting this person🤞

On Fri, Jul 12, 2019, 4:34 PM Marky Jackson <notifications@github.com>
wrote:

[2019-07-15 09:01] leodido opened #45 "Issues with GKE anchors and links"
Visiting the link https://falco.org/docs/installation/#GKE does not take the visitor to the GKE section of the same page.

Clicking on `GKE section` link in the test does not work.

Clicking on `GKE` in the lateral TOC menu works.

Thanks @markyjackson-taulia for noticing and reporting this to me.

[2019-07-15 11:31] #45 closed

[2019-07-17 23:01] lucperkins commented on #42
@leodido I think the way to go here is:

1. I'll create a cheatsheet template that enables people to easily add cheatsheet items (all these items will be kept in a single YAML file)
2. I'll make the cheatsheet page a draft initially (and thus not viewable on the production site)
3. I'll ask you and other maintainers to submit items
4. When we've reached an adequate number of items, I'll remove the

[2019-07-17 23:26] leodido commented on #42
Sounds a really good plan to me! 🎆

[2019-07-23 14:48] markyjackson-taulia commented on #43
I have verified with the initial person if he can still make it and he has informed me he cannot. I do have another person in mind whom I have pinged

cc: @leodido

[2019-07-25 06:58] zhulongcheng opened #51 "Add falco website link (https://falco.org/) to falcosecurity org page"
Add falco website link (https://falco.org/) to falcosecurity org page

![image](https://user-images.githubusercontent.com/11815801/61852351-db38ef80-aeeb-11e9-8163-67fd4f9a4782.png)

[2019-07-25 14:40] leodido commented on #51
Done! Thanks for noticing it :)

![image](https://user-images.githubusercontent.com/120051/61883523-e9dad300-aefa-11e9-84ac-93fb834c6eaa.png)

[2019-07-25 14:40] #51 closed

[2019-07-26 01:18] #30 closed

[2019-07-26 01:19] leodido commented on #37
Thus should we close this issue @mfdii ? WDYT

[2019-07-26 01:22] leodido opened #52 "Change documentation about the (default) FALCO_VERSION"
With https://github.com/falcosecurity/falco/pull/719 merged in the default `FALCO_VERSION` variable value is no more a constant (ie., 0.1.1dev) value.

Thus documentation needs to reflect those changes.

Page: source.md

[2019-07-26 18:16] #52 closed

[2019-07-29 19:08] #42 closed

[2019-07-29 19:08] lucperkins commented on #42
Closing this for now, as the scaffolding is in place.

[2019-07-29 19:09] lucperkins commented on #26
@fntlnz Is there an email address for secure disclosure?

[2019-08-06 10:59] ankitjain28may commented on #37
@mfdii It's still not working with the above env-> https://github.com/falcosecurity/falco/issues/650#issuecomment-518620781

[2019-08-07 15:30] mfdii commented on #37
This is for Container Optimized OS, not CoreOS

[2019-08-07 15:30] #37 closed

[2019-08-28 15:00] fntlnz opened #67 "Falco.org Blog"
**What would you like to be added**:

We want to have a blog for falco, to publish announcments, how-tos share ideas, and so on.

We have a couple of ideas on the execution of this:

1. A static blog with hugo
2. A medium publication

**Why is this needed**:

We already have articles for it!

- https://docs.google.com/document/d/1hSpSNnlrkW5Z_hEondp5dz8apA_Zd1EKmtV1Lq4J1Rk/edit?usp=sharing
- https

[2019-08-28 17:23] kris-nova opened #65 "Blog on #740"
**What would you like to be added**:

A blog on the memory leak issues worked on in falcosecurity/falco#740

**Why is this needed**:

To share a high level digest with the community

[2019-08-28 17:27] kris-nova opened #64 "Blog on fillers and rules"
**What would you like to be added**:

A blog on fillers and rules in Falco, with examples of how to do basic tasks:

 - Check if a file exists
 - Check if a new socket connection is opened
 - Check if a file is opened
 - Other commonly used features

**Why is this needed**:

To help advertise how Falco rules are implemented

[2019-08-28 17:32] kris-nova opened #63 "Blog on the falcosecurity org adopting the Falco sidekick"
**What would you like to be added**:

A blog that talks about the falco sidekick joining the falcosecurity org.
We also want to describe what the falco sidekick can do.
We also want to talk about how we will use the new gRPC falcosecurity/falco#789 work with the new Go SDK falcosecurity/falco#785 with the falco sidekick

**Why is this needed**:

To share the many use cases of Falco

[2019-08-28 17:33] kris-nova opened #62 "Blog on slim images"
**What would you like to be added**:

A write up on the work done with falcosecurity/falco#532

**Why is this needed**:

[2019-08-28 17:35] kris-nova opened #61 "Blog on zombie (defunct) processes with a Falco service"
**What would you like to be added**:

There is concern around abandoned sub-processes with running Falco as a service. Can we write up a blog on this, explaining why it's happening.

Also can we open github issues for any work generated from this.

**Why is this needed**:

[2019-08-30 13:07] fntlnz opened #66 "Automate versioning in the docs section"
Right now, when a new falco version is released we don't automatically upgrade the version in the docs.

That is handled manually and everyone forgets about doing it on releases.

As an option, we can have prow opening a PR here when a new release is done, then just approve it.

Example, now we are on `0.17.0`, website says `0.16.0`

![2019-08-30_472x364_scrot](https://user-images.githubuserconten

[2019-08-31 00:43] lucperkins commented on #67
Okay, we have a baseline implementation in place: https://falco.org/blog, complete with an RSS feed. Y'all can get going with writing posts now!

[2019-08-31 00:43] #67 closed

[2019-09-03 09:11] lucperkins opened #72 "Blog post alignment"
Centered text in long-form paragraphs is a big no-no from a readability standpoint. See [here](https://medium.com/@meetchopz/10-bad-typography-habits-that-scream-amateur-8bac07f9c041), [here](https://guppyfishweb.com/web-design/text-alignment-center/), and [here](https://uxmovement.com/content/why-you-should-never-center-align-paragraph-text/).

[2019-09-09 17:22] leodido opened #74 "Issues and PR templates"
The same way we did for Falco (and others) repository in this organization, this repo needs issues and pull-requests templates too.

[2019-09-10 10:48] fntlnz commented on #43
Update on this, we have the docs home page translated in Chinese https://falco.org/zh/docs

We are still missing all the docs sub-pages and falco.org/zh home page.

[2019-09-10 12:25] fntlnz commented on #72
I personally don't like centered blog posts. We copied the existing format from the other blog. Should we reword the posts?

[2019-09-10 12:26] fntlnz commented on #72
/kind cleanup

[2019-09-10 12:26] leodido commented on #72
/kind user-interface

[2019-09-10 12:27] fntlnz commented on #74
Done in #76
/close

[2019-09-10 12:27] #74 closed

[2019-09-10 12:27] poiana commented on #74
@fntlnz: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/74#issuecomment-529911189):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2019-09-10 12:27] fntlnz commented on #66
/kind user-interface

[2019-09-10 12:27] fntlnz commented on #65
/area blog
/kind content

[2019-09-10 12:28] fntlnz commented on #64
/area blog
/kind content

[2019-09-10 12:28] fntlnz commented on #63
/area blog
/kind content
/close

Done in https://github.com/falcosecurity/falco-website/pull/70

[2019-09-10 12:28] poiana commented on #63
@fntlnz: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/63#issuecomment-529911728):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2019-09-10 12:28] #63 closed

[2019-09-10 12:33] Issif commented on #62
/kind content
/area blog

[2019-09-11 10:44] fntlnz opened #77 "Document the gRPC server implementation"
/area documentation

**What would you like to be added**:

We are implementing a gRPC server as a Falco API, see the proposal [here](https://github.com/falcosecurity/falco/pull/789).

We want to document that feature in the website.

**Why is this needed**:

Because we want to people to know how the gRPC API works!

[2019-09-11 10:44] fntlnz opened #78 "Link the client-go documentation"
/area documentation

**What would you like to be added**:

The Falco go client https://github.com/falcosecurity/client-go
now has a documentation page at https://godoc.org/github.com/falcosecurity/client-go/pkg/client

I think that we want to link that in the main website when we document the gRPC feature.

We can wait
**Why is this needed**:

Because we want the world to use the go client!

Block

[2019-09-13 08:09] Issif opened #79 "RSS feed of blog is broken"
**What happened**:

RSS feed of blog is broken : https://falco.org/blog/index.xml

**What you expected to happen**:

Gather a XMLfile with full articles of blog

**How to reproduce it (as minimally and precisely as possible)**:

Just access to https://falco.org/blog/index.xml

**Anything else we need to know?**:

N/A

[2019-09-13 09:27] fntlnz commented on #26
@lucperkins not that I'm aware of, I don't think we have any address `@falco.org` is that a thing we can do via service ticket? The `falco.org` domain had been moved to CNCF.

[2019-09-25 14:02] fntlnz opened #80 "gRPC server and client documentation"
/area documentation

**What would you like to be added**:
We need to document:

- [ ] Falco gRPC server configuration and usage
- [ ] Falco gRPC outputs configuration and usage
- [ ] gRPC API documentation
- [ ] How to generate the certificates for mutual TLS
- [ ] How to use the SDK with examples

**Why is this needed**:

Because it's a new feature and people will want to use it!

[2019-09-27 14:58] leodido commented on #80
In order to try out the feature you need to generate the certificates. Atm you can use the following script:

[code]

[2019-10-02 10:23] fntlnz opened #84 "Duplicated menu entries"
**What happened**:

When in the docs section, the menu on the left shows duplicated entries for folders.

For example, "Rules", See this image:
![2019-10-02_349x756_scrot](https://user-images.githubusercontent.com/3083633/66037214-65ff2180-e50f-11e9-9d07-3a02761cbf7b.png)

**What you expected to happen**:

Entries are reported only once

**How to reproduce it (as minimally and precisely as possibl

[2019-10-02 10:24] fntlnz commented on #84
/area docs

[2019-10-02 10:33] fntlnz commented on #84
This is related to the hugo update in #83 @Issif

[2019-10-02 10:50] #84 closed

[2019-10-02 13:40] leodido opened #86 "Footer not sticky"
**What happened**:

The footer is not sticky.

The main part of the page should fill the space pushing it to the bottom.

![image](https://user-images.githubusercontent.com/120051/66049014-e7b07880-e52a-11e9-8139-fa5857a9fb23.png)

**What you expected to happen**:

This to work.

**How to reproduce it (as minimally and precisely as possible)**:

Create an empty page.

**Anything else we need to kn

[2019-10-02 14:40] leodido commented on #86
Submitting a PR to fix this soon.

![image](https://user-images.githubusercontent.com/120051/66053878-63aebe80-e533-11e9-87f5-b7f78532e307.png)

/assign @leodido

[2019-10-02 17:06] #86 closed

[2019-10-03 18:33] #80 closed

[2019-10-28 10:49] kris-nova opened #94 "Update website to remove Sysdig language"
As it stands there is some misleading documentation on [falco.org](https://github.com/cncf/foundation/blob/master/website-guidelines.md)

Particularly where we mention language such as:

Can we please update the website to follow the [official website guidelines](https://github.com/cncf/foundation/blob/master/website-guidelines.md) that the CNCF suggests.

CC @caniszczyk @dankohn

[2019-10-28 12:57] poiana commented on #94
@kris-nova: There is not a label identifying the kind of this issue.
Please specify it either using `/kind <group>` or manually from the side menu.

<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [k

[2019-10-28 12:58] leodido commented on #94
/kind content
/kind cleanup

[2019-11-08 11:57] leodido opened #96 "Blog posts for the falco/examples in the Falco blog"
/area blog

**What would you like to be added**:

I'd like to have the blog posts about the [falco/examples](https://github.com/falcosecurity/falco/tree/dev/examples).

**Why is this needed**:

Because the blog needs some love and users needs a place where to find a starting point for using and for working with Falco.

[2019-11-08 14:16] leodido commented on #96
Also I'd like this [blog post](https://sysdig.com/blog/selinux-seccomp-falco-technical-discussion/) to be added to the Falco blog.

[2019-11-13 16:47] #94 closed

[2019-12-04 16:23] leodido opened #106 "Blog post for security audit"
/area blog

**What would you like to be added**:

A blog post about security audits once they are published.

**Why is this needed**:

https://github.com/falcosecurity/falco/issues/886

/assign @mfdii

[2019-12-13 19:26] mfdii commented on #106
Draft done. Will publish 2019/12/16

[2019-12-17 10:07] #106 closed

[2020-01-22 16:55] leodido opened #117 "Document workaround for civetweb + openssl"
/area documentation

**What would you like to be added**:

Document workaround for civetweb + openssl.

Comment: https://github.com/falcosecurity/falco/issues/860#issuecomment-575087263

**Why is this needed**:

[2020-02-03 12:26] leodido opened #123 "Document Rust client for Falco gRPC API"
/area documentation

**What would you like to be added**:

Recently, I and @fntlnz created [a Rust client for the Falco gRPC API](https://github.com/falcosecurity/client-rs).

I'd like it to be documented also on Falco's website, in the same way the Go client is documented (see [here](https://falco.org/docs/grpc/client-go/)).

**Why is this needed**:

We need to document everything in order to fos

[2020-02-03 12:26] leodido commented on #123
/good-first-issue

[2020-02-03 12:26] poiana commented on #123
@leodido:
	This request has been marked as suitable for new contributors.

Please ensure the request meets the requirements listed [here](https://git.k8s.io/community/contributors/guide/help-wanted.md#good-first-issue).

If this request no longer meets these requirements, the label can be removed
by commenting with the `/remove-good-first-issue` command.

<details>

In response to [this](https://g

[2020-02-05 16:22] kris-nova opened #125 "Blog for the ring buffer with eBPF"
/area blog

**What would you like to be added**:

Document how the eBPF probe does **NOT** use the ring buffer

**Why is this needed**:

Because myself, and others, are confused about how the eBPF probe works.

[2020-02-05 17:18] leodido opened #126 "Document the Falco gRPC API python client"
/area documentation

**What would you like to be added**:

Recently, [Mattia](https://github.com/mmat11) created [a Python client for the Falco gRPC API](https://github.com/falcosecurity/client-py).

I'd like it to be documented also on Falco's website, in the same way the Go client is documented (see [here](https://falco.org/docs/grpc/client-go)).

**Why is this needed**:

We need to document eve

[2020-02-05 17:18] leodido commented on #126
/good-first-issue

[2020-02-05 17:18] poiana commented on #126
@leodido:
	This request has been marked as suitable for new contributors.

Please ensure the request meets the requirements listed [here](https://git.k8s.io/community/contributors/guide/help-wanted.md#good-first-issue).

If this request no longer meets these requirements, the label can be removed
by commenting with the `/remove-good-first-issue` command.

<details>

In response to [this](https://g

[2020-02-07 01:53] jalseth opened #127 "Document Falco Contacting Mining Servers"
/area documentation

**What would you like to be added**:

Documentation explaining why Falco does DNS lookups for crypto mining servers.

**Why is this needed**:

This gets asked about once a week in the #falco Slack.

[2020-02-07 07:39] fntlnz commented on #127
Related to: https://github.com/falcosecurity/falco/issues/835

[2020-02-12 23:24] jguerreroyb opened #132 "For consideration: Falco + YugabyteDB on GKE blog post"
/area blog

**What would you like to be added**:

I've written a step-by-step blog post on how to integrate Falco with YugabyteDB running on GKE. See attached PDF. Happy to share out the source file with the appropriate folks.

**Why is this needed**:

YugabyteDB is a 100% open source, cloud-native database and we are looking to provide our users with as much information as possible on how to inte

[2020-02-13 10:04] Issif commented on #132
Hi,

That's a nice article, my only remark is that you have set a rule with that output :

[code]

but this is not the rule that's triggered, as you can see in your log extract, this is not the pattern of your rule :

[code]

[2020-02-18 22:27] jguerreroyb commented on #132
@Issif - thanks for the pointer! (Bear with me, I am a Falco N00b!)

Now I see that the rule that is getting triggered is in _/etc/falco/falco_rules.yaml_, specifically:

_rule: Write below root
desc: an attempt to write to any file directly below / or /root_

Thanks!

**Question No. 1**

If YugabyteDB has three APIs that by default listen on:

* YSQL - port 5433
* YCQL - port 9042
* YEDIS - port

[2020-02-19 09:40] Issif commented on #132
Hi,

Be carefull, `user.name` is the system user than runs the action, it hasn't direct link with the db user who's used to connect on your database.

I don't know if it's possible to check that, as it's inside TCP packets.

Otherwise, your rule syntaxes seem good.

[2020-02-20 10:17] msrb opened #136 ""Get started" button on the front page doesn't work"
**What happened**:

Clicking on the "Get started" link on the front page doesn't do anything.

**What you expected to happen**:

It should take me to #resources anchor on the same page. It points to non-existent #download anchor now.

**How to reproduce it (as minimally and precisely as possible)**:

See above.

**Anything else we need to know?**:

You rock :wink:

[2020-02-21 11:38] fntlnz commented on #66
This was done

[2020-02-21 11:38] #66 closed

[2020-02-21 11:39] fntlnz opened #138 "Versioned documentation"
/area documentation

**What would you like to be added**:

We need to let the user navigate documentation for old versions.

**Why is this needed**:

Because not everyone runs on the latest version of Falco.

[2020-02-21 11:41] fntlnz opened #139 "Using Falco with Elasticsearch"
/area documentation

**What would you like to be added**:
On the Falco slack channel, @tembleking shared a very nice deck he is using to present how to send Falco events to Elasticsearch. I think we want to have that same content in the form of a documentation page that our users can follow when installing Falco.

Presentation here: https://docs.google.com/presentation/d/1vC5PIHMjh_x8BsWRou-g7pGHe

[2020-02-23 21:07] fntlnz opened #141 "gRPC version service documentation"
/area documentation

**What would you like to be added**:

gRPC version service documentation.

The feature was added here https://github.com/falcosecurity/falco/pull/872

**Why is this needed**:
Once 0.20.0 is released users might want to use this feature but they have no way to know how besides reading the code.

We need something like this for the outputs: https://falco.org/docs/grpc/

[2020-02-23 21:14] leodido commented on #141
/assign

[2020-02-24 18:24] radhikapc opened #142 "dropped-events.md has a broken link"
https://github.com/falcosecurity/falco-website/blob/master/content/en/docs/event-sources/dropped-events.md has a broken link at the end of the page.
https://github.com/falcosecurity/falco-website/blob/master/docs/configuration/#syscall_event_drops does not exist.

[2020-02-24 18:34] #136 closed

[2020-02-24 20:20] radhikapc commented on #142
created https://github.com/falcosecurity/falco-website/pull/143

[2020-02-25 09:23] fntlnz opened #146 "Can't navigate documentation on Mobile"
**What happened**:

As a user, while navigating the Falco Documentation on my mobile devices with less than 800px width I can't see the navigation.

This is preventing me to go through the pages and learn how to use Falco.

Vertical Example on a phone screen 320x480
![image](https://user-images.githubusercontent.com/3083633/75232767-0eac6700-57b8-11ea-946f-783d71767aab.png)

This is what I see if

[2020-02-25 12:49] fntlnz commented on #146
Also, on mobile we have a traffic drop on `/docs` of 90% compared to the 50% of tablets (considering that tablets also might not have the docs menu)

Traffic on tablet and desktops
![image](https://user-images.githubusercontent.com/3083633/75248891-5beb0180-57d5-11ea-8988-48d494797b62.png)
![image](https://user-images.githubusercontent.com/3083633/75248963-8472fb80-57d5-11ea-8f2a-0df638b9a145.png)

[2020-02-27 12:13] #142 closed

[2020-02-27 12:14] leodido commented on #126
@mmat11 maybe do you want to document it?

[2020-02-27 18:00] mmat11 commented on #126
Sure!

[2020-03-03 12:34] thecodejunkie opened #159 "Inconsistency in Kubernetes Audit example"
Hi,

I noticed that the [Kubernetes Audit example](https://github.com/falcosecurity/falco-website/blob/master/content/en/docs/event-sources/kubernetes-audit.md#example) defines the following `create` macro

[code]

Then a bit further down, in the breakdown section, it mentions

Looks like the breakdown section was updated in https://github.com/falcosecurity/falco-website/pull/140 10-days ago so pe

[2020-03-03 15:49] mmat11 commented on #126
/assign @mmat11

[2020-03-04 11:30] #126 closed

[2020-03-12 19:22] fntlnz opened #165 "Update the regression tests documentation to include Python 3"
/area documentation

**What would you like to be added**:

https://github.com/falcosecurity/falco/pull/1093 is proposing to change the Python version to run our regression tests from 2.7 to 3

**Why is this needed**:
We need to reflect those changes here to the documentation.

[2020-03-18 12:15] #165 closed

[2020-03-18 13:51] smarkm commented on #43
Do we need to make a simple translation policy like who want to start a new page translation just take an issue under `kind/translation` and give the path of the page, so that contributors to know the page  under translating by other translators

[2020-03-25 12:37] danmx opened #1141 "Documenting all system dependencies (capabilities, mounts, etc.)"
**What to document**

Falco is touching critical parts of the operating system.
It would be extremely useful to have a list of system dependencies like:
- mandatory host mounts
- required Linux capabilities
- seccomp filter
- SELinux/Apparmor profiles

for:

- stand alone Falco deployment without probes
- Falco using eBPF probe
- Falco using kernel module
- probe-loader for kernel module
- probe-l

[2020-03-25 13:03] #79 closed

[2020-03-27 04:13] onesolpark opened #176 "Add Korean Language Support in Documentation"
/area documentation

**What would you like to be added**:
Add Korean as a supported language for falco documentations.

**Why is this needed**:
To help Korean users understand falco better.

[2020-03-27 04:14] onesolpark commented on #176
I want to take initiative and kick off the Korean Doc translation.

[2020-03-27 04:14] onesolpark commented on #176
/assign

[2020-03-27 05:36] jmyung commented on #176
/pony party

[2020-03-29 14:07] jmyung commented on #176
Hi @leodido @kris-nova

For korean l10n, I have two questions.

- Would it be possible to make korean branch in this repo?
  * e.g. name of branch : `dev-0.21-ko.1`
  * This will work for managing outdated ko docs from upstream en docs.
- Could Some of korean contributer be maintainer?
  * reviewer : can review korean docs pr. They could fix wrong translation or typos in Korean.
  * approver : can

[2020-03-29 15:55] leodido commented on #176
Hello @onesolpark,

please open a PR that creates `content/ko/docs` directory and initial skeleton for Korean docs.

In that directory, we can and we'll totally create a sub OWNER file containing korean docs contributors :)

[2020-03-29 15:59] onesolpark commented on #176
I'll open a PR that holds the skeleton for Korean docs and an initial page asap
(Tomorrow at the latest in KST time).

[2020-04-08 18:40] amye opened #179 "Website footer change to Linux Foundation"
Hi all,
This should be added to the website footer:
2020 © Falco Project Authors. All rights reserved. The Linux Foundation has registered trademarks and uses trademarks. For a list of trademarks of The Linux Foundation, please see our Trademark Usage page: https://www.linuxfoundation.org/trademark-usage

Happy to submit a PR to correct, just direct me to the right place!

[2020-04-08 18:41] poiana commented on #179
@amye: There is not a label identifying the kind of this issue.
Please specify it either using `/kind <group>` or manually from the side menu.

<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubern

[2020-04-08 18:43] leodido commented on #179
The place where changes have to be made is https://github.com/falcosecurity/falco-website/blob/master/themes/falco-fresh/layouts/partials/footer.html

[2020-04-08 18:46] amye commented on #179
Sweet! Thank you!

[2020-04-17 12:26] #179 closed

[2020-04-21 08:11] leogr opened #185 "Update event-generator docs"
**What to document**
Since the new [event-generator](https://github.com/falcosecurity/event-generator) has been released, we have to update the [website documentation](https://falco.org/docs/event-sources/sample-events/) too.

[2020-04-22 16:13] poiana commented on #185
@leogr: There is not a label identifying the kind of this issue.
Please specify it either using `/kind <group>` or manually from the side menu.

<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kuber

[2020-04-22 16:14] leogr commented on #185
Done

[2020-04-22 16:18] leogr commented on #185
Can the website repo grab those files from the event-generator repo? IMHO, the website should depend on the event-generator, not the vice versa.

[2020-04-22 16:45] leodido commented on #185
/kind documentation

[2020-04-23 12:14] leodido opened #186 "Document the two-step approach to run Falco with docker"
/area documentation

**What would you like to be added**:

A snippet showing how to install the Falco drivers via the Falco docker image in a two-step fashion. One, privileged, just to compile or download (from the Drivers Build Grid) and install the driver, and the second one to run Falco.

**Why is this needed**:

https://github.com/falcosecurity/falco/pull/1158

[2020-04-24 11:56] #185 closed

[2020-04-24 14:04] leogr opened #188 "Update the website when a new Falco version has been released"
**What is wrong with the website or needs to be cleaned?**

As commented [here](https://github.com/falcosecurity/falco/pull/1150#discussion_r413250329), we could avoid to manually update the website via Netlify each time we release a new Falco version.
How? TBD.

@leodido proposal:

[2020-04-24 17:30] kris-nova opened #190 "Falco with Systemd"
**What to document**

Can we please document a proposal for running Falco with Systemd? I will be talking about it live today on setns and need to remember to document my thinking.

[2020-04-27 13:24] poiana commented on #190
@kris-nova: There is not a label identifying the kind of this issue.
Please specify it either using `/kind <group>` or manually from the side menu.

<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [k

[2020-04-27 13:57] fntlnz opened #191 "Documentation update to reflect the changes to the falco-driver-loader script"
/area documentation

**What would you like to be added**:

We recently made some changes to the `falco-driver-loader` script - need some documentation changes to reflect those changes.

s/PROBE_URL/DRIVERS_REPO/
s/DRIVERS_LOOKUP_URL/DRIVERS_REPO/

And also specify the new url structure:

https://dl.bintray.com/driver/$driver_version$/falco_$target$_$kernelrelease$_$kernelversion$.[ko|o]`

Pages af

[2020-04-28 19:27] lucperkins commented on #188
@leogr You can deploy the site by `POST`ing to a specific endpoint, so that's pretty easy. The trickier part is updating the version information and sha256 checksum in the site config. There aren't really any great options there.

[2020-04-29 09:42] leogr commented on #188
Good point.

Btw, I still didn't understand completely how the automation works here - my fault, I haven't had enough time to dig into.

Anyway, I noticed something that seems inconsistent to me:
 - the [published docs](https://falco.org/docs/) are saying v0.22.1 (below the falco logo)
 - BUT the config has still v0.20.0 [here](https://github.com/falcosecurity/falco-website/blob/master/config.yaml

[2020-04-29 11:06] leodido commented on #188
That is because, after the hotfix release of 0.22.1, I run a cache clean & build of the website via Netlify. But I have not sent a PR towards the website to update the config value.

[2020-05-01 16:38] nibalizer opened #192 "GKE specific installation notes"
/area documentation

**What would you like to be added**:

User mcjay on slack noted that when trying to configure k8s audit rules on GKE there are platform specific limitations. [This tool](https://github.com/codeonline-io/falco-gke-audit-bridge) has been written to deal with this. We should document this in the correct place.

I'm adding an issue here instead of just writing some blurbs because

[2020-05-01 16:44] jaychan-q commented on #192
The falco k8s audit rules dont work by default on EKS (AWS), AKS (Azure) and GKE (GCP) as per user tlabarussias in another slack message.

[2020-05-03 07:06] jaychan-q commented on #192
Saw this tool for getting EKS audit logs to falco. https://github.com/xebia/falco-eks-audit-bridge

[2020-05-11 08:11] fntlnz opened #194 "Document fields that are only used for filtering and not output"
/area documentation

**What would you like to be added**:

There are some fields like fd.sip.name that are a bit strange and actually used only for filtering, not output.
In an expression like fd.sip.name=domain.com  it will first look up the A records for domain.com and then check the ips against that set. This is so you don’t have to do a domain lookup at the time of the system call.

**Why is t

[2020-05-15 16:40] leogr opened #196 "Update docs for: building steps, deps, capabilities, detailed images usage, etc.."
/area documentation

**What would you like to be added**:
Umbrella issue for:
- [ ] https://github.com/falcosecurity/falco/issues/1120
- [x] https://github.com/falcosecurity/falco/issues/1085
- [ ] https://github.com/falcosecurity/falco/issues/628
- [x] explain how to use a least privileged image
- [x] explain how to use a fully privileged image
- [x] explain how to use images with eBPF

**Why is

[2020-05-15 16:51] leogr opened #197 "Use release from github instead of {{< latest >}} from config"
The value of `{{< latest >}}` could be fetched automatically in a similar way we are already doing [here](https://github.com/falcosecurity/falco-website/blob/f0f8a38ba65f9be2c1cffb0e880ae003f76ac452/themes/falco-fresh/layouts/partials/docs/dashboard.html#L18).

See also  #188

[2020-05-16 15:33] nlamirault opened #205 "Invalid link : https://falco.org/docs/installation/#daemonset-manifests"
According to the documentation :
Clone the Falco repo and change to the directory with the manifests.

[code]

But directory only exists on tag. We must checkout tags and not the master branch.

[2020-05-19 09:44] poiana commented on #205
@nlamirault: There is not a label identifying the kind of this issue.
Please specify it either using `/kind <group>` or manually from the side menu.

<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [

[2020-05-19 09:47] leogr commented on #205
/kind content

[2020-05-20 16:15] kris-nova opened #207 "Front end feedback"
1t  44 minutes ago
That looks real nice. i noticed what looks like a bug to me though. when i scroll down (in chrome) after freshly loading the page, the three boxes flicker for me.
QuickTime Movie
falcoorg-bug.mov
1 MB QuickTime Movie— Click to download

capitangolo  38 minutes ago
I find the spacing in the logos section weird. Logos are too big or too smashed together. Looks like there is too mu

[2020-05-20 16:17] kris-nova commented on #207
Grzegorz Nosek:spiral_calendar_pad:  1 hour ago
the icons could use some spacing before the text (and maybe consistent width?)
other than that, :star-struck:
image.png
image.png

davide  1 hour ago
nice!
15-sec viewer comments:
1) the top 3 boxes look clickable (I tried clicking the box and the title, couldn’t believe they were not sending me somewhere else)
2) icon-text spacing is a little too na

[2020-05-21 13:58] #207 closed

[2020-05-22 12:46] capitangolo commented on #207
Hi all,

I would like to fix a couple of tiny issues in the logos section that aren't addressed in @skandix PR -> https://github.com/falcosecurity/falco-website/pull/209

Have some questions:
1. Is there a guide / rules for PR's?
2. @skandix Are you working on more enhancements?
3. @kris-nova, anyone else… Shall I reopen this issue / create a new one to track these changes?

[2020-05-22 15:20] skandix commented on #207
Just pushed the rest of the things I've done to my open PR.

[2020-05-26 13:55] leogr commented on #186
I believe this has been solved with:
- https://falco.org/docs/installation/#install-driver
- https://falco.org/docs/running/#docker-least-privileged

[2020-05-26 13:55] #186 closed

[2020-06-01 09:11] Champ-Goblem opened #214 "Helm enabling EBPF on GKE needs updating"
/area documentation

**What would you like to be added**:
Under either the GKE or the Helm section there should be some detail on setting the `ebpf.enabled = true` flag for installing falco via helm on GKE.

**Why is this needed**:
This would help other users attempting to install falco on GKE nodes running COS as the documentation doesn't currently suggest this as an option.

*The first two comme

[2020-06-12 17:06] leogr commented on #214
/assign

[2020-06-12 17:09] leogr commented on #190
Fixed :point_right: https://falco.org/docs/running/#run-falco-as-a-service

/kind content
/area documentation
/close

[2020-06-12 17:11] #190 closed

[2020-06-12 17:11] poiana commented on #190
@leogr: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/190#issuecomment-643388607):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2020-06-15 09:18] #214 closed

[2020-07-02 20:27] #127 closed

[2020-07-09 22:04] skandix commented on #146
I think I know how to fix this, will take a look at it soon.

[2020-07-15 08:27] fntlnz opened #228 "Documentation for the userspace instrumentation"
/area documentation

**What would you like to be added**:

**Why is this needed**:

Userspace instrumentation is coming in PR https://github.com/falcosecurity/falco/pull/1195 and it's scheduled for 0.24.0 - we need documentation for that.

[2020-07-15 09:46] fntlnz commented on #228
A very important thing to do in this documentation procedure is to explain the relationship between [pdig](https://github.com/falcosecurity/pdig) and Falco started with `--userspace`.

[2020-07-15 15:36] fntlnz commented on #228
We agreed to release the userspace instrumentation contract as an officially supported feature, while pdig will be following its own process to reach the same status.

So, what we need to do for 0.24.0 is to document the Flag and explain what it does, then link to pdig as a possible future officially supported implementation.

[2020-07-15 23:28] #228 closed

[2020-08-27 08:54] leogr opened #240 "Kernel headers may be needed for docker images too"
/area documentation

**What would you like to be added**:

Add a note under the [Running with Docker](https://falco.org/docs/running/#docker) section explaining that kernel headers need to be installed on the host in order to build the driver on the fly successfully.

**Why is this needed**:

The `falco-driver-loader` script needs kernel headers installed on the host to build the driver even when

[2020-08-31 11:24] fntlnz opened #241 "Add gRPC under the alerts list"
/area documentation

**What would you like to be added**:

The alerts listing does not talk about the gRPC output.

Alerts listing: https://falco.org/docs/alerts/

We have documentation around gRPC in the website but it's not immediately clear that alerts can be sent via gRPC if that page does not report it.

**Why is this needed**:

[2020-09-07 13:57] leogr commented on #205
I think this does not apply anymore since now the documentation does not point to manifests files.
/close

[2020-09-07 13:57] #205 closed

[2020-09-07 13:57] poiana commented on #205
@leogr: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/205#issuecomment-688343396):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2020-09-07 15:22] #240 closed

[2020-09-29 17:19] #176 closed

[2020-10-07 05:18] jmyung opened #269 "Translate docs/examples in Korean"
/area documentation

**What would you like to be added**:
Translate docs/examples in Korean

**Why is this needed**:
No ko doc for docs/examples

[2020-10-08 04:41] futureCreator opened #271 "Translate docs/psp-support into Korean"
/area documentation
/kind content
/kind translation

**What would you like to be added**:
Translate docs/psp-support into Korean

**Why is this needed**:
No ko doc for docs/examples

[2020-10-08 04:50] futureCreator opened #272 "Change Korean polite expression to plain"
**What is wrong with the website or needs to be cleaned?**

/kind translation

Change Korean polite expression to plain for readability and conciseness.

docs/_index.md
docs/download.md

[2020-10-08 07:48] futureCreator commented on #272
/assign

[2020-10-08 07:49] futureCreator commented on #271
/assign

[2020-10-12 09:23] #272 closed

[2020-10-12 09:25] #269 closed

[2020-10-12 09:27] #271 closed

[2020-10-13 03:15] futureCreator opened #275 "Translate docs/installation into Korean"
/area documentation
/kind content
/kind translation

**What would you like to be added:**
Translate docs/installation into Korean

**Why is this needed:**
No ko doc for docs/installation

[2020-10-13 03:15] futureCreator commented on #275
/assign

[2020-10-13 03:19] futureCreator opened #276 "Translate docs/third-party into Korean"
/area documentation
/kind content
/kind translation

**What would you like to be added:**
Translate docs/third-party into Korean

**Why is this needed:**
No ko doc for docs/third-party

[2020-10-13 03:19] futureCreator commented on #276
/assign

[2020-10-13 14:23] pjhwa opened #278 "Translate docs/configuration into Korean"
/area documentation
/kind content
/kind translation

**What would you like to be added:**
Translate docs/configuration into Korean

**Why is this needed:**
No ko doc for docs/configuration

[2020-10-13 14:23] pjhwa commented on #278
/assign

[2020-10-14 05:19] pjhwa opened #281 "Translate docs/source into Korean"
/area documentation
/kind content
/kind translation

**What would you like to be added:**
Translate docs/source into Korean

**Why is this needed:**
No ko doc for docs/source

[2020-10-14 05:19] pjhwa commented on #281
/assign

[2020-10-14 09:14] #275 closed

[2020-10-14 09:16] #278 closed

[2020-10-14 09:25] #281 closed

[2020-10-16 01:37] bluefriday opened #284 "Translate docs/alerts (Falco Alerts menu) into Korean"
/area documentation

**What would you like to be added**:
Translate docs/alerts into Korean.

**Why is this needed**:
There is no docs docs/alerts in Korean

[2020-10-16 01:37] bluefriday commented on #284
/assign
/assign bluefriday

[2020-10-16 02:59] bluefriday opened #286 "Translate docs/running into Korean"
/area documentation

What would you like to be added:
Translate docs/running into Korean.

Why is this needed:
There is no docs docs/running in Korean

[2020-10-16 02:59] bluefriday commented on #286
/assign
/assign bluefriday

[2020-10-16 04:41] bluefriday opened #288 "Translate /docs/configuration into Korean."
/area documentation

What would you like to be added:
Translate docs/configuration into Korean.

Why is this needed:
There is no docs docs/configuration in Korean

[2020-10-16 04:41] bluefriday commented on #288
/assign
/assign bluefriday

[2020-10-16 04:45] bluefriday commented on #286
https://falco.org/docs/configuration/

[2020-10-19 03:01] bluefriday opened #290 "Translate docs/rules into Korean."
What would you like to be added:
Translate docs/rules into Korean.

Why is this needed:
There is no docs docs/rules in Korean

[2020-10-19 03:01] bluefriday commented on #290
/assign
/assign bluefriday

[2020-10-19 03:02] bluefriday commented on #290
/kind translation
/area documentation

[2020-10-21 02:08] #288 closed

[2020-10-21 02:09] bluefriday opened #293 "Translate /docs/rules/default-custom into Korean"
What would you like to be added:
Translate docs/rules/default-custom into Korean.

Why is this needed:
There is no docs docs/rules/default-custom in Korean

https://falco.org/docs/rules/default-custom/

[2020-10-21 02:09] bluefriday commented on #293
/kind translation
/area documentation

[2020-10-21 02:09] bluefriday commented on #293
/assign
/assign bluefriday

[2020-10-21 03:04] bluefriday opened #296 "Translate /docs/rules/default-macro into Korean"
What would you like to be added:
Translate docs/rules/default-macro into Korean.

Why is this needed:
There is no docs docs/rules/default-macro in Korean

https://falco.org/docs/rules/default-macros/

[2020-10-21 03:04] bluefriday commented on #296
/kind translation
/area documentation

[2020-10-21 03:04] bluefriday commented on #296
/assign
/assign bluefriday

[2020-10-21 03:25] bluefriday opened #298 "Translate /docs/rules/supported-fields into Korean"
What would you like to be added:
Translate /docs/rules/supported-fields into Korean.

Why is this needed:
There is no docs /docs/rules/supported-fields in Korean

https://falco.org/docs/rules/supported-fields/

[2020-10-21 03:25] bluefriday commented on #298
/kind translation
/area documentation

[2020-10-21 03:25] bluefriday commented on #298
/assign
/assign bluefriday

[2020-10-22 08:32] futureCreator opened #299 "Typo correction in docs/installation"
**What is wrong with the website or needs to be cleaned?**
Correct typos `into into` 👉 `into` in `docs/installation` page.

[2020-10-22 08:32] futureCreator commented on #299
/assign

[2020-10-23 15:43] #299 closed

[2020-10-27 07:27] futureCreator opened #302 "Translate docs/grpc page into Korean"
/area documentation
/kind content
/kind translation

**What would you like to be added**:
Translate `docs/grpc` into Korean

**Why is this needed**:
No ko doc for `docs/grpc` page

[2020-10-27 07:28] futureCreator commented on #302
/assign

[2020-10-27 07:29] futureCreator opened #303 "Translate docs/grpc/outputs page into Korean"
/area documentation
/kind content
/kind translation

**What would you like to be added**:
Translate `docs/grpc/outputs` page into Korean

**Why is this needed**:
No ko doc for `docs/grpc/outputs` page

[2020-10-27 07:29] futureCreator commented on #303
/assign

[2020-10-27 07:31] futureCreator opened #304 "Translate docs/grpc/version page into Korean"
/area documentation
/kind content
/kind translation

**What would you like to be added**:
Translate `docs/grpc/version` page into Korean.

**Why is this needed**:
No Korean doc for `docs/grpc/version` page.

[2020-10-27 07:31] futureCreator commented on #304
/assign

[2020-10-27 07:32] futureCreator opened #305 "Translate docs/grpc/client-go page into Korean"
/area documentation
/kind content
/kind translation

**What would you like to be added:**
Translate `docs/grpc/client-go` page into Korean

**Why is this needed:**
No Korean doc for `docs/grpc/client-go` page

[2020-10-27 07:32] futureCreator commented on #305
/assign

[2020-10-27 07:33] futureCreator opened #306 "Translate docs/grpc/client-py page into Korean"
/area documentation
/kind content
/kind translation

**What would you like to be added:**
Translate `docs/grpc/client-py` page into Korean

**Why is this needed:**
No Korean doc for `docs/grpc/client-py` page

[2020-10-27 07:33] futureCreator commented on #306
/assign

[2020-10-27 10:01] #276 closed

[2020-11-18 01:22] poiana commented on #10
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-18 07:22] poiana commented on #35
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-18 13:22] poiana commented on #72
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-18 13:22] poiana commented on #64
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-18 13:22] poiana commented on #65
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-18 13:22] poiana commented on #62
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-18 13:22] poiana commented on #61
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-18 13:22] poiana commented on #39
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-18 13:22] poiana commented on #34
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-18 14:32] leodido commented on #39
This is done! See [here](https://falco.org/docs/source/#alpine) :)

/close

[2020-11-18 14:32] poiana commented on #39
@leodido: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/39#issuecomment-729718077):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2020-11-18 14:32] #39 closed

[2020-11-19 01:23] poiana commented on #38
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-19 01:23] poiana commented on #41
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-19 01:23] poiana commented on #77
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-19 01:23] poiana commented on #78
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-19 01:23] poiana commented on #26
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-19 13:23] poiana commented on #96
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-19 19:23] poiana commented on #117
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-19 19:23] poiana commented on #123
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-19 19:23] poiana commented on #125
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-20 01:23] poiana commented on #132
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-20 01:23] poiana commented on #138
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-20 01:23] poiana commented on #139
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-20 01:23] poiana commented on #141
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-20 01:23] poiana commented on #159
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-20 07:23] poiana commented on #43
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-20 09:19] leogr commented on #138
We really need that.
/help

[2020-11-20 09:19] poiana commented on #138
@leogr:
	This request has been marked as needing help from a contributor.

Please ensure the request meets the requirements listed [here](https://git.k8s.io/community/contributors/guide/help-wanted.md).

If this request no longer meets these requirements, the label can be removed
by commenting with the `/remove-help` command.

<details>

In response to [this](https://github.com/falcosecurity/falco

[2020-11-20 19:23] poiana commented on #188
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-21 01:23] poiana commented on #192
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-21 01:23] poiana commented on #194
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-21 07:23] poiana commented on #191
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-21 07:23] poiana commented on #197
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-21 19:23] poiana commented on #146
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-22 10:07] Rajakavitha1 opened #321 "poiana comment has a broken link to contributing guide"
**What is wrong with the website or needs to be cleaned?**

The link now points to https://github.com/falcosecurity/falco-website/blob/master/CONTRIBUTING.md and results in 404.

Update the link to https://github.com/falcosecurity/.github/blob/master/CONTRIBUTING.md

<img width="749" alt="Screenshot 2020-11-22 at 3 30 18 PM" src="https://user-images.githubusercontent.com/37059749/99900781-bd45ef80

[2020-11-22 13:40] Rajakavitha1 commented on #78
@fntlnz Please let me know if this issue can be marked as closed because the website https://falco.org/docs/grpc/client-go/ does have the link to https://godoc.org/github.com/falcosecurity/client-go/pkg/client

[2020-11-24 14:25] leogr commented on #159
Fixed by #323

[2020-11-24 14:25] #159 closed

[2020-11-25 13:23] poiana commented on #196
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-26 16:02] Rajakavitha1 opened #326 "Unable to Generate valid Client Key/Cert on Ubuntu 18.04"
**What happened**:
I followed the instructions https://falco.org/docs/grpc/#certificates in Ubuntu 18.04 where falco is installed.
I was able to Generate valid Server Key/Cert

I then tried to Generate valid Client Key/Cert on another Ubuntu18.04 client

**What you expected to happen**:
Signature ok
subject=C = SP, ST = Italy, L = Ornavasso, O = Test, OU = Client, CN = localhost
Getting CA Private

[2020-11-27 14:08] Rajakavitha1 commented on #326
closing the issue because ca.crt was not copied

[2020-11-27 14:08] #326 closed

[2020-12-16 13:53] leogr opened #338 "Documentation versioning"
/area documentation

**What would you like to be added**:

Documentation versioning _à la Kubernetes_
Some references:
- https://kubernetes.io/
- https://github.com/kubernetes/website

**Why is this needed**:

As initially proposed by @fntlnz and then discussed in the Falco Website/Docs working group ([the last update here](https://lists.cncf.io/g/cncf-falco-dev/message/212)), we want this feature

[2020-12-16 15:00] leogr commented on #338
WIP of first action items block :point_right: https://v0-26.falco.org/

[2020-12-16 15:22] leogr commented on #338
update: need to set branches as protected (reported by @fntlnz and @leodido)

[2020-12-18 03:33] poiana commented on #10
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-19 03:33] poiana commented on #35
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-19 09:33] poiana commented on #72
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-19 09:33] poiana commented on #65
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-19 15:33] poiana commented on #62
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-19 15:33] poiana commented on #64
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-19 15:33] poiana commented on #61
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-19 21:33] poiana commented on #34
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-19 21:33] poiana commented on #38
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-19 21:33] poiana commented on #41
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-20 03:33] poiana commented on #77
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-20 09:34] poiana commented on #26
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-21 03:34] poiana commented on #96
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-21 21:34] poiana commented on #117
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-22 03:35] poiana commented on #123
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-22 09:35] poiana commented on #125
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-22 15:35] poiana commented on #132
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-22 21:35] poiana commented on #139
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-22 21:35] poiana commented on #141
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-23 14:21] leodido commented on #141
/remove-lifecycle rotten
L.

On Tue, Dec 22, 2020 at 10:35 PM poiana <notifications@github.com> wrote:

[2020-12-23 21:35] poiana commented on #43
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-24 03:35] poiana commented on #138
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-25 09:35] poiana commented on #188
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-25 15:35] poiana commented on #192
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-26 03:35] poiana commented on #194
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-26 21:35] poiana commented on #191
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-27 03:35] poiana commented on #197
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-28 09:35] poiana commented on #146
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-29 21:35] poiana commented on #78
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-30 03:35] poiana commented on #196
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-01-12 16:26] leogr commented on #138
This is done by #324

[2021-01-13 11:52] oke-py opened #349 ""schema definition" is not linked in jp/docs/grpc/"
**What is wrong with the website or needs to be cleaned?**

"schema definition" should be linked to https://falco.org/jp/docs/grpc/version/ .

![grpc](https://user-images.githubusercontent.com/4710215/104448835-05e79e00-55e1-11eb-8f14-4aa832bafa62.png)
https://falco.org/jp/docs/grpc/

[2021-01-13 12:01] oke-py opened #350 "Inconsistent translation "the protocol buffer schema definition" in Japanese"
**What is wrong with the website or needs to be cleaned?**

https://falco.org/jp/docs/grpc/outputs/

https://falco.org/jp/docs/grpc/version/

They should be "プロトコルバッファ"?

[2021-01-14 03:38] poiana commented on #284
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-01-14 09:38] poiana commented on #286
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-01-17 03:37] poiana commented on #10
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-17 03:37] #10 closed

[2021-01-17 03:37] poiana commented on #10
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/10#issuecomment-761726031):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2021-01-17 03:38] poiana commented on #290
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-01-18 03:37] poiana commented on #35
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-18 03:37] #35 closed

[2021-01-18 03:37] poiana commented on #35
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/35#issuecomment-761958461):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2021-01-18 09:38] poiana commented on #72
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-18 09:38] poiana commented on #65
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-18 09:38] poiana commented on #72
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/72#issuecomment-762120451):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2021-01-18 09:38] #72 closed

[2021-01-18 09:38] #65 closed

[2021-01-18 09:38] poiana commented on #65
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/65#issuecomment-762120470):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2021-01-18 15:38] poiana commented on #64
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-18 15:38] poiana commented on #61
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-18 15:38] poiana commented on #62
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-18 15:38] #61 closed

[2021-01-18 15:38] poiana commented on #64
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/64#issuecomment-762325350):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2021-01-18 15:38] #64 closed

[2021-01-18 15:38] poiana commented on #61
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/61#issuecomment-762325359):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2021-01-18 15:38] poiana commented on #62
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/62#issuecomment-762325368):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2021-01-18 15:38] #62 closed

[2021-01-18 17:23] #138 closed

[2021-01-18 21:38] poiana commented on #34
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-18 21:38] poiana commented on #41
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-18 21:38] #34 closed

[2021-01-18 21:38] poiana commented on #38
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-18 21:38] poiana commented on #34
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/34#issuecomment-762481651):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2021-01-18 21:38] #41 closed

[2021-01-18 21:38] #38 closed

[2021-01-18 21:38] poiana commented on #41
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/41#issuecomment-762481656):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2021-01-18 21:38] poiana commented on #38
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/38#issuecomment-762481659):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2021-01-19 03:38] poiana commented on #77
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-19 03:38] #77 closed

[2021-01-19 03:38] poiana commented on #77
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/77#issuecomment-762581533):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2021-01-19 03:39] poiana commented on #293
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-01-19 03:39] poiana commented on #296
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-01-19 03:39] poiana commented on #298
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-01-19 06:48] oke-py commented on #349
/assign

[2021-01-19 08:09] leogr commented on #338
Yes!

[2021-01-19 08:09] #338 closed

[2021-01-19 08:35] #349 closed

[2021-01-19 09:38] poiana commented on #26
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-19 09:38] #26 closed

[2021-01-19 09:38] poiana commented on #26
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/26#issuecomment-762722487):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2021-01-19 11:54] oke-py opened #361 "README.md contains 4 broken links to config.yaml"
**What is wrong with the website or needs to be cleaned?**

There are broken links in README.md.
The link target might be `config.toml` instead of `config.yaml`.

[2021-01-19 11:59] oke-py opened #362 "README.md contains a broken link and outdated document in Japanese section"
**What is wrong with the website or needs to be cleaned?**

As a result of directory restructuring,
* `content/jp/docs` should be replaced with `content/ja/docs`
* `languages.jp` should be replaced with `languages.ja`
* `i18n/jp.yaml` should be replaced with `i18n/ja.yaml`

/assign

[2021-01-19 15:04] #362 closed

[2021-01-20 04:48] oke-py commented on #361
/assign

[2021-01-20 08:48] #361 closed

[2021-01-20 09:50] oke-py opened #369 "Falco Alerts: an example logrotate config is a broken link"
**What is wrong with the website or needs to be cleaned?**

"here" link is broken. https://github.com/falcosecurity/falco/blob/master/examples/logrotate/falco returns 404.

* https://falco.org/docs/alerts/#file-output
* https://falco.org/ja/docs/alerts/#%E3%83%95%E3%82%A1%E3%82%A4%E3%83%AB%E5%87%BA%E5%8A%9B

![broken-link](https://user-images.githubusercontent.com/4710215/105157283-2919cc80-5b50-1

[2021-01-20 14:56] poiana commented on #96
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-20 14:56] #96 closed

[2021-01-20 14:56] poiana commented on #96
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/96#issuecomment-763675631):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2021-01-20 16:39] n3wscott opened #373 "Falco events are not well documented."
/area documentation

**What would you like to be added**:

I would love to see an explicit list of events that are enabled by falco as the base install. Things to document would be:

- the event payload and what each field means.
- for what reason is the event generated.

This could be used as the example of how to document additional events that an integrator might add for custom rules.

**Why is

[2021-01-21 02:56] poiana commented on #117
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-21 02:56] poiana commented on #117
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/117#issuecomment-764198853):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2021-01-21 02:56] #117 closed

[2021-01-21 03:36] oke-py opened #376 "Directory structure of content/ja/docs is different from that of content/en/docs"
**What is wrong with the website or needs to be cleaned?**

mkdir content/ja/docs/getting-started and move these files to the directory.

* download.md
* installation.md
* running.md
* source.md
* third-party.md

[2021-01-21 08:24] Rajakavitha1 commented on #369
Thanks for pointing the issue @oke-py .

The correct link is: https://github.com/falcosecurity/falco/blob/ffd8747ec0943db2546c3270826e1700dc4df75f/examples/logrotate/falco

[2021-01-21 08:56] poiana commented on #123
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-21 08:56] #123 closed

[2021-01-21 08:56] poiana commented on #123
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/123#issuecomment-764484363):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2021-01-21 14:56] poiana commented on #125
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-21 14:56] poiana commented on #125
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/125#issuecomment-764700289):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2021-01-21 20:56] poiana commented on #132
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-21 20:56] #132 closed

[2021-01-21 20:56] poiana commented on #132
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/132#issuecomment-764936991):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2021-01-22 02:56] poiana commented on #139
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-22 02:56] #139 closed

[2021-01-22 02:56] poiana commented on #139
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/139#issuecomment-765085631):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2021-01-23 02:56] poiana commented on #43
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-23 02:56] poiana commented on #43
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/43#issuecomment-765836272):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2021-01-23 02:56] #43 closed

[2021-01-24 14:56] poiana commented on #188
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-24 14:56] #188 closed

[2021-01-24 14:56] poiana commented on #188
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/188#issuecomment-766361013):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2021-01-24 20:56] poiana commented on #192
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-24 20:56] #192 closed

[2021-01-24 20:56] poiana commented on #192
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/192#issuecomment-766430588):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2021-01-25 08:56] poiana commented on #194
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-25 08:56] poiana commented on #302
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-01-25 08:56] poiana commented on #303
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-01-25 08:56] #194 closed

[2021-01-25 08:56] poiana commented on #304
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-01-25 08:56] poiana commented on #305
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-01-25 08:56] poiana commented on #194
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/194#issuecomment-766659679):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2021-01-25 08:56] poiana commented on #306
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-01-26 02:56] poiana commented on #191
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-26 02:56] poiana commented on #191
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/191#issuecomment-767255192):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2021-01-26 02:56] #191 closed

[2021-01-26 08:56] poiana commented on #197
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-26 08:56] #197 closed

[2021-01-26 08:56] poiana commented on #197
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/197#issuecomment-767399493):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2021-01-27 14:57] poiana commented on #146
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-27 14:57] #146 closed

[2021-01-27 14:57] poiana commented on #146
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/146#issuecomment-768341946):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2021-01-29 02:57] poiana commented on #78
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-29 02:57] #78 closed

[2021-01-29 02:57] poiana commented on #78
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/78#issuecomment-769540314):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2021-01-29 09:15] #376 closed

[2021-01-29 14:57] poiana commented on #196
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-29 14:57] #196 closed

[2021-01-29 14:57] poiana commented on #196
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/196#issuecomment-769854152):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2021-02-13 09:00] poiana commented on #284
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-02-13 15:00] poiana commented on #286
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-02-16 09:00] poiana commented on #290
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-02-17 12:49] #369 closed

[2021-02-18 09:01] poiana commented on #293
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-02-18 09:01] poiana commented on #296
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-02-18 09:01] poiana commented on #298
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-02-18 12:46] leogr commented on #373
/help

[2021-02-18 12:46] poiana commented on #373
@leogr:
	This request has been marked as needing help from a contributor.

Please ensure the request meets the requirements listed [here](https://git.k8s.io/community/contributors/guide/help-wanted.md).

If this request no longer meets these requirements, the label can be removed
by commenting with the `/remove-help` command.

<details>

In response to [this](https://github.com/falcosecurity/falco

[2021-02-24 09:01] poiana commented on #303
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-02-24 09:01] poiana commented on #302
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-02-24 09:01] poiana commented on #304
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-02-24 13:05] MjAbuz opened #393 "Request to add BN - Bengali Documents"
/area documentation

**What would you like to be added**: BN - Bengali

**Why is this needed**: B For better understanding and reach

[2021-02-24 15:01] poiana commented on #305
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-02-24 15:01] poiana commented on #306
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-02-25 06:59] pasimoes opened #396 "Tracking Portuguese Translation Progress (M1)"
/area documentation

**What would you like to be added**:
Keep track of the translation of all documentation to Portuguese

**Why is this needed**:
To allow Portuguese speakers to have access to documentation and help the adoption of Falco.

[2021-03-03 16:15] magnologan commented on #396
We are translating the Cloud Native Security white paper here: [Cloud Native Security White Paper Brazilian Portuguese Translation](https://github.com/cncf/sig-security/issues/509)

So let me know if we can help in anything here as well. Cheers!

[2021-03-08 16:42] mjlshen opened #399 "Minikube getting started docs typo, QOL"
https://falco.org/docs/getting-started/third-party/learning/

There's a typo (Esure -> Ensure) and the code blocks can't be copy+pasted like most of the other documentation pages. I'll submit a pull request!

[2021-03-09 15:54] pasimoes commented on #396
Hi Falco team, could you please add the tag `language/pt`? And approve/assign this issue to me and @magnologan?

[2021-03-10 08:23] #399 closed

[2021-03-10 11:47] snappyJack opened #402 "I think there has a problem"
https://falco.org/docs/rules/

I tried this ,but didn't work, I think the value of `evt.type`should be `openat`

<img width="833" alt="图片" src="https://user-images.githubusercontent.com/16055573/110624399-1d09cd00-81d9-11eb-931c-79db95f5b5c7.png">

[2021-03-15 09:41] poiana commented on #284
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-03-15 09:41] #284 closed

[2021-03-15 09:41] poiana commented on #284
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/284#issuecomment-799273932):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2021-03-15 15:41] poiana commented on #286
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-03-15 15:41] #286 closed

[2021-03-15 15:41] poiana commented on #286
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/286#issuecomment-799522146):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2021-03-18 09:42] poiana commented on #290
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-03-18 09:42] poiana commented on #290
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/290#issuecomment-801778019):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2021-03-18 09:42] #290 closed

[2021-03-20 14:09] snappyJack commented on #402
hello?

[2021-03-21 04:06] poiana commented on #293
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-03-21 04:06] poiana commented on #296
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-03-21 04:06] #293 closed

[2021-03-21 04:06] poiana commented on #296
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/296#issuecomment-803508740):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2021-03-21 04:06] #296 closed

[2021-03-21 04:06] poiana commented on #298
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-03-21 04:06] poiana commented on #293
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/293#issuecomment-803508742):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2021-03-21 04:06] #298 closed

[2021-03-21 04:06] poiana commented on #298
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/298#issuecomment-803508744):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2021-03-23 15:45] poiana commented on #141
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-03-24 10:25] varghesejose2020 opened #407 "translate the web site in malayalam language"
/area documentation

**What would you like to be added**: translate the  site into malayalam language

**Why is this needed**:

[2021-03-26 10:10] poiana commented on #303
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-03-26 10:10] poiana commented on #304
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-03-26 10:10] poiana commented on #302
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-03-26 10:10] #303 closed

[2021-03-26 10:10] #302 closed

[2021-03-26 10:10] poiana commented on #303
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/303#issuecomment-808092820):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2021-03-26 10:10] poiana commented on #304
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/304#issuecomment-808092827):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2021-03-26 10:10] #304 closed

[2021-03-26 10:10] poiana commented on #302
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/302#issuecomment-808092836):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2021-03-26 16:10] poiana commented on #305
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-03-26 16:10] #305 closed

[2021-03-26 16:10] poiana commented on #306
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-03-26 16:10] poiana commented on #305
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/305#issuecomment-808338494):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2021-03-26 16:10] poiana commented on #306
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/306#issuecomment-808338511):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2021-03-26 16:10] #306 closed

[2021-04-13 15:55] poiana commented on #350
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-04-19 09:55] poiana commented on #321
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-04-22 16:18] poiana commented on #141
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-05-13 16:25] poiana commented on #350
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-05-19 10:34] poiana commented on #321
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-05-19 16:05] poiana commented on #373
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-05-20 20:16] developer-guy opened #437 "Analyze Kubernetes API Server Audit logs with Falco"
/area blog

**What would you like to be added**:
Demonstrating how we can use Falco with Kubernetes API Server to detect intrusions that happened in Kubernetes API Server through the audit logs

**Why is this needed**:
We don't have any blog posts that related to describe how we can use Falco to detect intrusions that happened in Kubernetes API Server through the audit logs, so, I thought that it

[2021-05-22 16:27] poiana commented on #141
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-05-22 16:27] poiana commented on #141
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/141#issuecomment-846431670):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2021-05-22 16:27] #141 closed

[2021-05-25 16:07] poiana commented on #393
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-06-01 10:11] #437 closed

[2021-06-01 19:22] Dentrax opened #443 "Creating Kubernetes Response Engine using GCE and Google Cloud Functions"
/area blog

**What would you like to be added**:

Recently falcosidekick got a new output type called [Google Cloud Functions](https://github.com/falcosecurity/falcosidekick/pull/241). In this blog, we will try to demonstrate that how we can use this to implement a new type of Kubernetes Response Engine.

![gcloudfalcov2 (1)](https://user-images.githubusercontent.com/16493751/120378691-69236400-c3

[2021-06-02 06:20] developer-guy opened #444 "Creating Kubernetes Response Engine by using GKE (Google Kubernetes Engine), and Google Cloud Run"
/area blog

**What would you like to be added**:
Recently, the Falcosidekick project got a new output type called [Google Cloud Run](https://github.com/falcosecurity/falcosidekick/pull/243). In this blog, we will try to demonstrate that how we can use this to implement a new type of Kubernetes Response Engine.

**Why is this needed**:
To help users who might be using GKE and Google Cloud Run to se

[2021-06-08 19:58] poiana commented on #396
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-06-12 20:01] poiana commented on #350
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-06-12 20:01] #350 closed

[2021-06-12 20:01] poiana commented on #350
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/350#issuecomment-860101981):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2021-06-15 14:05] leogr commented on #321
/remove-lifecycle rotten

[2021-06-15 14:09] leogr commented on #321
We have to take care of our beloved @poiana :)

PS
Since it's a prow's plugin related issue I'm moving this issue to test-infra

[2021-06-16 20:44] Dentrax commented on #443
![kre_gke_v3](https://user-images.githubusercontent.com/16493751/122290707-b2191200-cefc-11eb-9c7f-c298a7a3ca38.png)

We updated the arch diagram /w @developer-guy

[2021-06-18 19:55] poiana commented on #373
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-06-18 19:55] poiana commented on #402
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-06-18 22:06] tspearconquest opened #459 "Falco Driver Loader missing from docs"
**What to document**

The falco driver loader is not really mentioned in the falco docs, but enough of an example to set it up from the helm chart is available on that repo's README.md file to make a working install.

It would be nice to see that documented more properly on falco.org.

[2021-06-21 08:54] poiana commented on #459
@tspearconquest: There is not a label identifying the kind of this issue.
Please specify it either using `/kind <group>` or manually from the side menu.

<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against t

[2021-06-21 08:55] leogr commented on #459
/kind documentation

[2021-06-21 15:17] tspearconquest commented on #459
Following on from https://github.com/falcosecurity/charts/issues/150#issuecomment-865049495:

Hello, I am so sorry I was not more clear here. Please allow me to clarify.

My original goal from the thread above was to highlight the fact that the documentation currently provides an example for using `falco-no-driver` and `falco-driver-loader` in least privileged mode, but does not provide the same f

[2021-06-22 13:57] poiana commented on #407
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-06-24 08:29] madhubysani01 opened #466 "Falco image for Graviton2 based nodes(arm64)"
**What is wrong with the website or needs to be cleaned?**
Presently Falco images are there for AMD64 based instances. Recently we migrated our workload to ARM64 base nodes. Could not find  Falco image for ARM64. Please guide.

[2021-06-24 19:57] poiana commented on #393
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-06-25 17:47] #444 closed

[2021-06-28 18:10] atarax665 opened #469 "Gitlab image on the homepage redirects to an invalid URL"
**What is wrong with the website or needs to be cleaned?**
While going through the website I found that on the [homepage](https://falco.org/) the ```Gitlab``` logo under the ```End-Users``` section redirects to an invalid URL - https://https//about.gitlab.com/ , looks like a typo in the initial URL provided.

[2021-06-29 08:03] madhubysani01 commented on #466
Team,
Any road map  to support ARM64 nodes?

[2021-06-29 08:45] #459 closed

[2021-06-29 08:46] #469 closed

[2021-06-29 18:00] atarax665 opened #473 "CONTRIBUTING.md's link broken in a response msg generated by poiana"
**What happened**:

The response template generated by @poiana when DCO isn't signed has broken link of ```contributing guide```. I found this out when recently I made a PR and forgot to add a DCO signoff.
The hyperlinked text ```contributing guide``` in the statement ```Please follow instructions in the contributing guide to update your commits with the DCO``` redirects to a dead link https://git

[2021-06-29 22:35] #443 closed

[2021-06-30 08:35] leogr commented on #473
Hey @atarax665

Thank you for reporting. The problem is also reported by https://github.com/falcosecurity/test-infra/issues/430
We have to address it in our `test-infra`.

[2021-07-08 20:01] poiana commented on #396
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-08-08 20:08] poiana commented on #373
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-08-08 20:08] #373 closed

[2021-08-08 20:08] poiana commented on #373
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/373#issuecomment-894848649):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2021-08-08 20:08] poiana commented on #393
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-08-08 20:08] #393 closed

[2021-08-08 20:08] poiana commented on #402
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-08-08 20:08] poiana commented on #393
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/393#issuecomment-894848664):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2021-08-09 02:09] poiana commented on #407
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-08-09 02:09] poiana commented on #396
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-08-09 02:09] #396 closed

[2021-08-09 02:09] poiana commented on #396
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/396#issuecomment-894909708):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2021-09-02 19:19] MattUebel opened #494 "the relevance of the sysctl net.core.bpf_jit_enable"
👋  I've found `net.core.bpf_jit_enable` to be critical to falco's performance when running as a daemonset in large k8s clusters.

I've been unable to find this documented anywhere, in the repo or the docs site.
![image](https://user-images.githubusercontent.com/1601728/131903295-e8274fed-032e-4e8e-86df-2b03c1767e27.png)

I came across this sysctl while reading into the sysdig [documentation](https

[2021-09-06 11:18] poiana commented on #494
@MattUebel: There is not a label identifying the kind of this issue.
Please specify it either using `/kind <group>` or manually from the side menu.

<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [k

[2021-09-07 20:16] poiana commented on #402
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-09-07 20:16] #402 closed

[2021-09-07 20:16] poiana commented on #402
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/402#issuecomment-914594776):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2021-09-08 02:16] poiana commented on #407
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-09-10 09:13] lucklypse commented on #494
Since I was editing the docs for another issue I took a stab at writing the eBPF jit note. Reviews appreciated :)

[2021-09-10 12:59] MattUebel commented on #494
nice standout red box, I like it!
![image](https://user-images.githubusercontent.com/1601728/132856890-71343c4c-8216-4efd-bc80-9835bc3066af.png)

[2021-09-21 07:44] #494 closed

[2021-09-27 08:56] poiana commented on #466
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-09-28 08:56] poiana commented on #473
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-09-28 13:29] leogr commented on #473
@poiana please keep this open :smile_cat:
/remove-lifecycle stale

[2021-10-22 13:15] pmusa opened #505 "List of the tags in the documentation is not complete"
/area documentation

**What would you like to be added**:
The documentation states that all tags added by default are in [this list](https://falco.org/docs/rules/#tags-for-current-falco-ruleset). This is not true as there are tags like `file` and `mitre_*` in the default rules file. You can update the sentence to say this is a subset of the tags or add all the tags to it.

[2021-10-22 13:19] fjammes opened #506 "Falco on Kind with Prometheus and Grafana"
/area documentation

**What would you like to be added**:

The section referenced by this link does not exists: https://falco.org/docs/getting-started/running/#running-falco-in-a-kind-cluster

**Why is this needed**:
Installing falco inside kind might be useful.

[2021-11-16 10:18] haliyev opened #514 "Installation issue to CentOS server"
Hi,

yum -y install falco --> command doesn't work

That does not work for CentOS.

Successfully done the following steps. Unfortunately, CentOS can't find the package. (Message (Error: Unable to find a match: falco)

rpm — import https://s3.amazonaws.com/download.draios.com/DRAIOS-GPG-KEY.public
curl -s -o /etc/yum.repos.d/draios.repo http://download.draios.com/stable/rpm/draios.repo
yum -y insta

[2021-11-19 14:46] danielerota opened #516 "Section with custom env"
Why var like jevt can't be use without k8s ? I have an error. In the doc there isn't something that explain this.
It is possible to add custom var i output response? For example, I need to add EC2 id ... without k8s and jevt var, I can add this value with an environment var. But variables aren't allowed in .yaml config file.

It would be useful to have this information in the documentation.

[2021-11-19 14:46] poiana commented on #516
@danielerota: There is not a label identifying the kind of this issue.
Please specify it either using `/kind <group>` or manually from the side menu.

<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the

[2021-11-22 17:35] otterley opened #517 "Document prerequisites for building eBPF probe"
/area documentation

**What would you like to be added**:

Add verbiage that for RHEL and RHEL-derived Linux distributions (and possibly others?), the  `kernel-devel-$(uname -r)`, `dkms`, and `llvm` packages must be installed to build an eBPF probe.

**Why is this needed**:

Building from source is necessary if a prebuilt version for the user's particular kernel is unavailable, which is often the

[2021-11-26 15:13] poiana commented on #466
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-11-26 15:13] poiana commented on #466
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/466#issuecomment-980049738):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2021-11-26 15:13] #466 closed

[2021-12-05 09:38] #514 closed

[2021-12-05 09:40] haliyev commented on #514
I did installation from this URL.
https://download.falco.org/?prefix=packages/rpm/

[2021-12-27 15:51] poiana commented on #473
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-01-03 18:17] leogr opened #523 "version parameter is not up-to-date / release.md missed this step"
**What happened**:

The version parameter should always reflect the latest Falco version. However, it was not bumped:

https://github.com/falcosecurity/falco-website/blob/e5d20ec15c2989aa5b0b6e58b931ce0607eb929b/config.toml#L167

(at the time of writing the latest Falco release is 0.30.0)

Moreover, https://github.com/falcosecurity/falco-website/blob/master/release.md does not include any instruct

[2022-01-07 10:44] Dentrax opened #527 "Create Audit Dashboards with Grafana Loki: Gather Audit Logs by using FluentBit"
/area documentation

**What would you like to be added**:

From the Slack conversation we had with @developer-guy and @leogr, dropping here, so we don't forget!

We thought that we can write a new blog post and demonstrate some threat/audit dashboards on the [Grafana Loki](https://grafana.com/oss/loki/). Here is a 30000-foot view of the rough architecture:

[code]

**Why is this needed**:

This po

[2022-01-10 10:25] leogr commented on #473
/remove-lifecycle stale

[2022-01-20 16:03] poiana commented on #505
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-01-25 16:04] poiana commented on #506
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-02-17 09:03] ajinkya1986 opened #553 "Kubernetes Audit"
Please give detailed instruction how to enable kubernetes audt in falco. The example files are only for kops and minikube. Please provide one for each baremetal k8s, GKE, AKS and EKS.

[2022-02-17 09:03] poiana commented on #553
@ajinkya1986: There is not a label identifying the kind of this issue.
Please specify it either using `/kind <group>` or manually from the side menu.

<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the

[2022-02-17 16:23] poiana commented on #516
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-02-18 08:33] ajinkya1986 commented on #553
Cannot add label

[2022-02-18 13:09] ajinkya1986 commented on #553
Thank you very much @jasondellaluce

[2022-02-19 16:08] poiana commented on #505
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2022-02-20 22:32] poiana commented on #517
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-02-24 16:13] poiana commented on #506
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2022-02-25 08:49] jasondellaluce commented on #506
Hey @nicop311, just saw this issue. Since you seem to have found out the right link, would you like to open a PR to correct the broken one?

[2022-02-25 15:57] nicop311 commented on #506
Hi @jasondellaluce , I needed to understand what the problem was since I don't remember anything about this issue :sweat_smile: .

On the website : https://falco.org/blog/falco-kind-prometheus-grafana/, there is a section with a link which should explain how to use Falco with k8s KinD, but the section `#running-falco-in-a-kind-cluster` does not exist:

On the github, we can see the following: http

[2022-02-28 08:55] jasondellaluce commented on #506
Thanks for spending time in explaining your point. That's still great feedback towards the quality of our docs. 👍🏼

[2022-03-18 11:49] pabloopez opened #571 "external file for adopters and"
**What is wrong with the website or needs to be cleaned?**

Any changes to the *adopters* or *training contributors* requires to make changes on the [`config.toml`](https://github.com/falcosecurity/falco-website/blob/master/config.toml#L403) file.

We can remove this to the main config and create a separate file for each of the definitions, to ease the update process and minimize accidental change

[2022-03-19 17:42] poiana commented on #516
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2022-03-21 17:43] #505 closed

[2022-03-22 23:47] poiana commented on #517
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2022-03-30 11:52] poiana commented on #506
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2022-03-30 11:52] #506 closed

[2022-03-30 11:52] poiana commented on #506
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/506#issuecomment-1083044065):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/te

[2022-04-03 23:11] poiana commented on #523
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-04-05 13:17] leogr commented on #523
Fixed

[2022-04-05 13:18] #523 closed

[2022-04-07 11:12] poiana commented on #527
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-04-10 11:12] poiana commented on #473
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-04-10 13:49] jasondellaluce commented on #473
/remove-lifecycle stale

[2022-04-18 18:00] poiana commented on #516
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2022-04-18 18:00] #516 closed

[2022-04-18 18:00] poiana commented on #516
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/516#issuecomment-1101611883):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/te

[2022-04-20 08:39] leogr commented on #527
/remove-lifecycle stale
/help

[2022-04-20 08:39] poiana commented on #527
@leogr:
	This request has been marked as needing help from a contributor.

Please ensure the request meets the requirements listed [here](https://git.k8s.io/community/contributors/guide/help-wanted.md).

If this request no longer meets these requirements, the label can be removed
by commenting with the `/remove-help` command.

<details>

In response to [this](https://github.com/falcosecurity/falco

[2022-04-20 09:33] leogr commented on #473
cc @zuc

[2022-04-20 12:50] zuc commented on #473
If you want to show some love to the PR that is gonna fix this, here you go: https://github.com/kubernetes/test-infra/pull/25495 🙏

@leogr since this is poiana-related, I'd suggest to close this in favour of https://github.com/falcosecurity/test-infra/issues/430.

[2022-04-22 00:01] poiana commented on #517
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2022-04-22 00:01] poiana commented on #517
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/517#issuecomment-1105868220):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/te

[2022-04-22 08:48] jasondellaluce commented on #517
/remove-lifecycle rotten
/reopen

[2022-04-22 08:48] poiana commented on #517
@jasondellaluce: Reopened this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/517#issuecomment-1106203337):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kube

[2022-04-22 12:22] jasondellaluce commented on #473
/close

[2022-04-22 12:22] poiana commented on #473
@jasondellaluce: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/473#issuecomment-1106460918):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kuber

[2022-05-10 07:07] Dentrax commented on #527
@eminaktas and I have prepared a sample PoC repository; dropping here as a reference:

https://github.com/eminaktas/threat-hunting-at-scale-demo

[2022-05-11 21:38] josevnz opened #585 "Falco website cannot be compiled with Hugo 0.90, also gRPC should mention startup issue when gRPC is enabled."
**What happened**:

[code]

My hugo version is the latest

[code]

**What you expected to happen**:

Server running on http://localhost:1313/

**How to reproduce it (as minimally and precisely as possible)**:

[code]

[2022-05-11 22:23] josevnz commented on #585
Found the issue. Falco needs this version of hugo to work:

[code]

Hugo 0.98.0-1 will not work.

[2022-05-13 15:24] leogr commented on #527
cc @Issif

[2022-05-19 18:14] poiana commented on #553
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-05-24 13:39] #571 closed

[2022-06-04 05:30] dadav opened #616 "Choosing a Falco driver"
The `git clone` commands don't work.

`git clone git@github.com/falcosecurity/falco`

should be

`git clone git@github.com:falcosecurity/falco`

[2022-06-14 08:22] Diliz opened #626 "Links not working in choosing a driver page"
/area documentation

**What would you like to be added**:

In the following page: https://falco.org/blog/choosing-a-driver/
All links except the pdig ones are actually not working.

**Why is this needed**:

The pages links should work/exists (if not created).
I'm currently using the openshift falco operator and the setup process is tricky: k8s-nodes, ebpf usage, etc...
I had hopes when I saw this

[2022-06-14 08:24] Diliz commented on #626
Meh, my bad it was a blog post from a long ago (found it through search, did not see it was a blog post and not a documentation page, sorry for the trouble)

[2022-06-14 08:24] #626 closed

[2022-06-18 18:27] poiana commented on #553
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2022-07-18 21:38] poiana commented on #553
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2022-07-18 21:38] #553 closed, assigned to nobody

[2022-07-18 21:38] poiana commented on #553
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/553#issuecomment-1188343132):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/te

[2022-07-21 09:39] poiana commented on #517
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-08-01 17:41] dwgillies-bluescape opened #662 "how to get a new driver release?"
How do I get a new driver into falco?  It is failing with :

* Trying to download a prebuilt falco module from https://download.falco.org/driver/17f5df52a7d9ed6bb12d3b1768460def8439936d/falco_amazonlinux2_5.4.201-111.359.amzn2.x86_64_1.ko

[2022-08-01 17:41] poiana commented on #662
@dwgillies-bluescape: There is not a label identifying the kind of this issue.
Please specify it either using `/kind <group>` or manually from the side menu.

<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue agai

[2022-08-02 08:25] jasondellaluce commented on #662
This driver seems to come from an older commit hash, did you try running the latest version of Falco? Since the last few Falco releases, we are supporting more kernel versions in our drivers.

[2022-08-03 08:50] #616 closed

[2022-08-08 14:38] vjjmiras opened #666 "Add documentation on Driverkit"
/area documentation

**What would you like to be added**:

Topics to document:

- How to use `driverkit` to generate my own drivers?
- Which options can `driverkit` take as input?
- How to troubleshoot `driverkit`?
- What to do if my distribution is not supported?
    - How I can generate and use my own builder?
- Where can I find precompiled drivers and how to request one?

**Why is this needed**

[2022-08-08 14:47] vjjmiras opened #667 "New section: Extending rules"
/area documentation

**What would you like to be added**:

I would like to see a section dedicated to extending rules with the keyword: `append: true` including at least the following topics:

- How do I append new conditions to an existing rule?
- Where do I add rules or content to existing ones?

**Existing content that can be regrouped**:
- How do I append exceptions to an existing rule?

**Why

[2022-08-08 15:11] vjjmiras opened #668 "Group Rules, Events and Plugins into a newer section called Concepts"
/area documentation

**What would you like to be added**:

A structure grouping Falco components like the following:

[code]

**Why is this needed**:

Current documentation mixes different concepts with different use and level of importance.

Falco's architecture is based on events from different sources. Events can be provided either by syscalls or by different plugins. Once the events are retrie

[2022-08-08 15:22] vjjmiras opened #669 "Add a section to the documentation called Tasks"
/area documentation

**What would you like to be added**:

Create a new section called **Tasks** which should contain independent administration tasks like:

- Installation of Falco
- Upgrade of the kernel
- Deployment in Kubernetes
- Configuration of a plugin
- Management of the service by `Systemd`
- etc.

**Why is this needed**:

Learning how to do simpler tasks, users gain confidence in how to

[2022-08-08 15:46] vjjmiras opened #670 "Realignment of weight values"
/area documentation

**What would you like to be added**:

Weight values for main menu items are in a sequence incremented by 1.
This doesn't leave any room to add new sections in between.

Multiplying these weights by 10 should respect the current order and leave enough room to add newer sections.

**Why is this needed**:

To add a more structured view to the documentation.
To add/move sections i

[2022-08-08 15:46] vjjmiras opened #671 "Umbrella issue for documentation enhancements"
This issue gathers a variety of tasks that intend to improve the quality of Falco's documentation.

- [ ] #666
- [x] #667
- [x] #668
- [x] #669
- [x] #670

/area documentation

[2022-08-10 03:43] poiana commented on #585
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-08-11 15:43] poiana commented on #527
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-08-11 18:39] dwgillies-bluescape commented on #662
Nope, sorry, still no good.  We have a govcloud service and are forced by an amazon security advisory to use the very latest amazon linux driver, we recompiled roughly Aug 5th, and are now looking for :

[code]

I just tried the falco:0.32.2 and falco:latest docker images, and the driver compilation has only advanced up to amazonlinux2_5.4.196:

<img width="900" alt="Screen Shot 2022-08-11 at 11 3

[2022-08-11 18:44] dwgillies-bluescape commented on #662
@poiana I cannot edit the Issue label BTW.

[2022-08-12 16:21] dwgillies-bluescape commented on #662
Hi, our code is working again, from the driver built at 10:57 GMT today.  THank you for helping us in this matter.

[code]

[2022-08-13 08:59] jasondellaluce commented on #662
@dwgillies-bluescape great to hear you solved your issue. Can we close this?

For the future I think this kind of issue is more suitable for `falcosecurity/falco` or `falcosecurity/test-infra`. Also, we provide kernel driver builds in a best-effort way, and it's almost impossible to have a perfect build matrix with all the most up-to-date kernel flavor versions. `falcosecurity/kernel-crawler` from

[2022-08-18 15:57] #670 closed

[2022-08-20 09:44] poiana commented on #517
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2022-09-07 14:49] leogr opened #680 "Netlify builds using the Xenial build image will fail after November 15, 2022"
**What happened**:

![Screenshot from 2022-09-07 16-46-27](https://user-images.githubusercontent.com/3390997/188908188-4ed2f984-7231-4d11-9249-75ab32b20983.png)

Ref https://answers.netlify.com/t/please-read-end-of-support-for-xenial-build-image-everything-you-need-to-know/68239

**What you expected to happen**:

We have to switch to another image soon.

**Anything else we need to know?**:

@falco

[2022-09-07 14:49] leogr commented on #680
/help

[2022-09-07 14:49] poiana commented on #680
@leogr:
	This request has been marked as needing help from a contributor.

Please ensure the request meets the requirements listed [here](https://git.k8s.io/community/contributors/guide/help-wanted.md).

If this request no longer meets these requirements, the label can be removed
by commenting with the `/remove-help` command.

<details>

In response to [this](https://github.com/falcosecurity/falco

[2022-09-08 14:13] Issif commented on #680
I checked and I don't have access to the settings on Netlify, and I didn't find a way to configure the builder image in the netlify.toml.

Source: https://answers.netlify.com/t/please-read-end-of-support-for-xenial-build-image-everything-you-need-to-know/68239/14

[2022-09-09 03:47] poiana commented on #585
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2022-09-09 09:09] Issif commented on #585
@josevnz we upgraded the version up to 0.101.0, your issue may be solved now

[2022-09-10 15:47] poiana commented on #527
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2022-09-19 09:47] poiana commented on #517
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2022-09-19 09:47] #517 closed

[2022-09-19 09:47] poiana commented on #517
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/517#issuecomment-1250802071):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/te

[2022-09-20 09:07] leogr opened #715 "Falco supported events"
**What to document**

After discussing with @Andreagit97 about recent changes and minor breaking changes (eg,e.g.-A` will not be applied anymore when reading from `.scap` files), we decided to create a table, so it was clear what will be the expected outcome for Falco 0.33.0.

Ref falcosecurity/falco#2201

The documentation (and maybe other places like the help usage of the command line) may need

[2022-09-29 21:20] nate-double-u commented on #680
Hi, I can help with this.

I wanted to double check tho, @leogr it looks like you have access to the Netlify account. If not, please let me know.

[2022-10-06 23:11] nate-double-u commented on #680
This has been updated & tested.

<img width="1245" alt="Screen Shot 2022-10-06 at 4 07 36 PM" src="https://user-images.githubusercontent.com/4453979/194434484-e1e32649-40f0-4a6e-b899-bd5d5b62cab2.png">

There is a Ruby version warning now, but the site still builds correctly that update can probably be dealt with in a follow up issue.

[code]

[2022-10-06 23:13] nate-double-u commented on #680
I can't close this issue 😅

I would still like to confirm with you @leogr, it does appear that you've got access to the https://app.netlify.com/sites/falcosecurity team. If this isn't true, could you let me know, and I can invite you (please share your email address with me if this is the case--either here or in the CNCF slack)

[2022-10-09 09:51] poiana commented on #585
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2022-10-09 09:51] #585 closed

[2022-10-09 09:51] poiana commented on #585
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/585#issuecomment-1272503399):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/te

[2022-10-11 11:01] Andreagit97 commented on #680
Ei @nate-double-u as far as I know @leogr is on vacation he will come back in the next few days :) BTW thank you very much for your effort!!

[2022-10-13 17:25] mstemm opened #707 "Supported Fields for Conditions and Outputs"
/area documentation

**What would you like to be added**:

It would be useful if the fields description at https://falco.org/docs/rules/supported-fields/ also had a column that noted whether the field can be used in filtering only vs both filtering and outputs. The underlying structs for fields has this information, and `falco --list` output does include it in the description with a `(FILTER_ONLY)

[2022-10-17 17:12] #680 closed

[2022-10-17 17:12] poiana commented on #680
@leogr: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco-website/issues/680#issuecomment-1281189269):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2022-10-18 22:06] nate-double-u commented on #680
Happy to help 😃

[2022-11-03 13:58] leogr commented on #715
Hey @Andreagit97 @jasondellaluce

I've lost track of this. Any progress?

[2022-11-04 10:43] jasondellaluce commented on #715
This still has to be documented

[2022-11-06 21:28] poiana commented on #668
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-11-06 21:28] poiana commented on #669
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-11-06 21:28] poiana commented on #666
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-11-06 21:28] poiana commented on #667
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-11-11 09:29] poiana commented on #662
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-11-16 21:29] poiana commented on #671
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-11-23 11:25] vjjmiras commented on #715
Is it possible to obtain this information automatically from the `falco` binary or any other single source of truth (like a file in the _falco_ repo)?

Instead of updating the website whenever this changes, we should import the information automatically.

[2022-11-23 12:02] leogr commented on #715
I don't think it's possible now, but perhaps we can do something using our libs? cc @FedeDP @Andreagit97

:+1:

[2022-11-23 12:33] Andreagit97 commented on #715
let's say we still need to work on the code side (we have to add a new flag about internal events and discuss which events Falco should receive) so let's say I will keep the issue opened just to remember us to document it but before doing that we need to complete the feature with all the details in this way we can avoid to change the doc the next month :laughing:

And yes @vjjmiras the unique sour